/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("tu-imagen.png") no-repeat center center/cover;
}

/* Contenedor principal */
.contenedor {
  text-align: center;
  color: #d4af37; /* dorado */
  text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}
 .video-fondo {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1; 
    overflow: hidden;
  }

  .video-fondo video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
     object-fit: cover;
  }

  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
  }

/* Estilo del título */
.titulo h1 {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
  letter-spacing: 5px;
}

.titulo span {
  font-size: 90px;
  font-weight: bold;
  color: #f5d97e;
}

/* Botón */
a {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 2px solid #d4af37;
  border-radius: 8px;
  cursor: pointer;
  background: #d4af37;
  color: #000;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  background: #f5d97e;
  color: #000;
}


  