body {
    background: url("fondo\ villanos\ .png");
    background-size: cover;
    font-family: Georgia;
    color: #f2e7c9;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

/* LISTA IZQUIERDA */
.character-list {
    width: 26%;
    padding: 15px;
    margin-top: 90px;
}

.character-option {
    display: flex;
    align-items: center;
    background: rgba(38, 14, 57, 0.8);
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s;
}

.character-option:hover {
    transform: scale(1.03);
}

.character-option img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #000000;
}

/* OCULTAR LOS RADIO */
input[type="radio"] {
    display: none;
}

/* PANEL CENTRAL */
.selected-area {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-image {
    width: 260px;
    height: 330px;
    border: 4px solid #000000;
    border-radius: 10px;
    display: none;
}

.character-name {
    font-size: 28px;
    margin-top: 10px;
    display: none;
}

/* PANEL DE HABILIDADES */
.skills-panel {
    width: 34%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill-box {
    background: rgba(38, 14, 57, 0.8);
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 15px;
    display: none;
}

.skill-title {
    font-size: 20px;
    color: #ffd083;
}
.botones {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: row; /* <-- Los coloca uno al lado del otro */
    gap: 55px;
    z-index: 999;
}

.btn {
    padding: 12px 30px;
    font-size: 22px;
    font-family: "Cinzel", serif;
    background-color: rgba(38, 14, 57, 0.8);
    border: 4px solid #000000;
    color: #fbd9b0;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: rgba(38, 14, 57, 0.8);
    transform: scale(1.05);
}

.seleccionar {
    background-color: rgba(38, 14, 57, 0.8);
}

.seleccionar:hover {
    background-color: rgba(38, 14, 57, 0.8);
}

.volver {
    background-color: rgba(38, 14, 57, 0.8);
}

.volver:hover {
    background-color: rgba(38, 14, 57, 0.8);
}






/* ===========================
   MOSTRAR ELEMENTOS SEGÚN EL RADIO
   =========================== */

/* Guerrero */
#p1:checked ~ .selected-area #img1,
#p1:checked ~ .selected-area #name1,
#p1:checked ~ .skills-panel .g-skill {
    display: block;
}

/* Arquera */
#p2:checked ~ .selected-area #img2,
#p2:checked ~ .selected-area #name2,
#p2:checked ~ .skills-panel .a-skill {
    display: block;
}

/* Mago */
#p3:checked ~ .selected-area #img3,
#p3:checked ~ .selected-area #name3,
#p3:checked ~ .skills-panel .m-skill {
    display: block;
}

/* Asesino */
#p4:checked ~ .selected-area #img4,
#p4:checked ~ .selected-area #name4,
#p4:checked ~ .skills-panel .as-skill {
    display: block;
}